<div class="about row">
    <div class="col-md-12">
       <h2>关于大超</h2>
        <br/>
        <article>
          <div class="card-content">
            <section class="about-me">
                <div class="entry red-link-context">
                    <p>大家好，我是张亚超，可以叫我大超。到目前为止，还是一个不忘初心、奔跑在技术道路上的程序猿。</p>
                    <p>一直以来，不断跟随着我的兴趣和喜好去学习一些技术，在锻炼深化技术的同时，也让我收获了很多，感触也颇多。</p>
                </div>

                <!-- <div class="entry red-link-context" style="width:200px;height:300px;border-radius:100px;float:left;width:30%;">
                  <img style="height:200px;float:left;width:30%;" src="https://github.com/buildupchao/ImgStore/blob/master/blog/headportrait/chao.jpg?raw=true">
                </div> -->
                <h3 class="grey-text" style="clear:both;">
                    <i class="fa fa-street-view"></i>个人简介
                </h3>
                <hr style="margin-top:20px;margin-bottom:20px;border-color:#B6B6B6;border-style:dotted;width:100%;">
                <div class="entry red-link-context" style="width:60%;">
                    <div>
                      <strong>Email</strong>
                      <p>buildupchao@gmail.com</p>
                    </div>
                    <div>
                      <strong>新浪微博</strong>
                      <p>http://weibo.com/buildupchao</p>
                    </div>
                    <div>
                      <strong>个人标签</strong>
                      <p>Java/大数据/技术狂</p>
                    </div>
                    <div>
                      <strong>座右铭</strong>
                      <p>因为自知而敬畏，因为敬畏而谦逊。</p>
                    </div>
                    <div>
                      <strong>当前状态</strong>
                      <p>正在技术专家成长道路上不断努力前进</p>
                    </div>
                </div>
                <hr style="margin-top:20px;margin-bottom:20px;border-color:#B6B6B6;border-style:dotted;width:100%;">
                <div class="entry red-link-context">
                    <p>2017年7月1号本科毕业，开始在Synnex从事微服务设计与开发相关工作。</p>
                    <p>2018年7月10号离职Synnex，7月11号入职金山办公，从事大数据开发相关工作。</p>
                    <p>平时喜欢研究技术，阅读框架源码，探究技术真相。</p>
                    <p>周末一般会刷动漫、看电影、溜冰 or 滑雪，当然也会疯狂的充电敲代码了，前提是没有约朋友出去玩，哈哈哈</p>
                </div>
            </section>
          </div>
        </article>
        <!-- Comments -->
       <div class="comment">
         {% include comments.html %}
       </div>

    </div>
</div>
